body{
    background-image:url("../images/width.png") ;
    background-repeat: repeat-x;
    background-color: #f3f3f3;
}
.door{
    background-image:url("../images/door.png") ;
    background-repeat: no-repeat;
    width: 750px;
    height:750px;
}
.key{
    position: absolute;
    top: 430px;
    left: 260px;
    width: 30px;
    height:30px;
    cursor:pointer;
}
.key:hover{
    width: 50px;
    height:50px;
}
.key:nth-last-child(1) {animation: loadingA 8s 0.1s infinite;}
@keyframes loadingA {
0 { height: 30px; width:30px;}
20% { height: 60px; width:60px;}
30% { height: 30px; width:30px;}
100% { height:30px; width:30px;}
}

.node{
    position: absolute;
    top: 520px;
    left: 160px;
    width: 50px;
    height:50px;
    cursor:pointer;
}

.node:nth-last-child(1) {animation: loadingB 9s 0.1s infinite;}
@keyframes loadingB {
0 { height: 50px; width:50px;}
20% { height: 50px; width:50px;}
30% { height: 80px; width:80px;}
40% { height: 50px; width:50px;}
100% { height:50px; width:50px;}
}

.ok-btn
{
    border-radius:5px;
    cursor:pointer;
    border:solid #3498DB 1px;
    color:white;
    padding:15px;
    margin:5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: linear-gradient(#3498DB, #1F618D);
    text-align:center;
    margin-left:45%;
    display: none;
}


.wrapper-close-btn{
    cursor: pointer;
    margin-top:-40px;
    margin-left:550px;
}
.close-btn {
    position: inline;
    width: 31px;
    height: 31px;
}
.close-btn:before, .close-btn:after {
    position: absolute;
    margin-left:550px;
    left: 8px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
}
.close-btn:before {
    transform: rotate(45deg);
}
.close-btn:after {
    transform: rotate(-45deg);
}

input[type=text] {
    margin-left:25px;
    margin-top:10px;
    font-size: 13px;
    background-color:rgb(255,255,255);
    color: #787474;
    padding-left: 10px;
    width:408px;
    height:33px;
    border-color:rgb(182,182,182);
    border-width:1px;
    border-style:solid;
    box-shadow:0px 1px 0px 0px rgba(255,255,255,0.5) ,inset 0px 1px 2px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
}
input[type=text]:focus, .your-message:focus {
    outline: none;
    background-color:rgb(255,255,255);
    border-color:rgb(126,139,153);
    border: 1px solid;
}
.envelope {
    display: none;
    width: 600px;
    height: 340px;
    z-index:1002;
    margin: 10% auto;
    border:solid #3498DB 1px;
    border-radius: 3px;
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
    background-color:#EBF5FB;
    position:fixed;
    left: 50%;
    top: 30%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.envelope-entrance {

}

.envelope-registrate {

    height: 540px;

}

.title {
    font-size:22px;
    color: white;
    padding:10px;
    background-color:#1F618D;
    border-radius: 3px;
}
table
{
    margin: 10%;
    font-size:20px;
}
td{
    padding: 10px;
}